body {
    margin: 0;
    padding: 0;
}

.cb {
    width: 49%;
    padding: 1.25rem;
    border-radius: 5px;
}

li {
    list-style: none;
}

@media (max-width: 768px) {
    .cb {
        width: 79%;
        padding: 0.75rem;
    }
}

@media (max-width: 480px) {
    .cb {
        width: 89%;
    }
}